<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KELP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container d-flex justify-content-between nav-bar align-items-center">
        <div class="d-flex">
            <h1 class="kelp">K</h1>
            <h1 class="kelp">E</h1>
            <h1 class="kelp">L</h1>
            <h1>P</h1>
        </div>
        <div class="">
            <div class="search-container">
                <div class="search-bar">
                    <div id="select">
                        <p id="select-text">All</p>
                        <img src="{{url_for('static', filename='img/arrow.png')}}" alt="arrow">
                        <ul id="category-list">
                            <li class="options">All</li>
                            <li class="options">Restaurants</li>
                            <li class="options">Sushi</li>
                        </ul>
                    </div>
                    <input type="text" id="input-field" autocomplete="off" placeholder="Search All"
                        onkeyup="searchRestaurant()" name="search">
                </div>
            </div>

            <div id="restaurants">
                <ol id="restaurant-list">
                    {%for restaurant in all_restaurants%}
                    <li class="restaurants"><a class="restaurant-link"
                            href="/restaurant/{{restaurant.id}}">{{restaurant.name}}, <em
                                class="text-secondary">{{restaurant.address}}</em></a></li>
                    {%endfor%}
                    <li><a href="/restaurant/new">Add a restaurant</a></li>
                </ol>
            </div>

            <div id="sushi">
                <ol id="sushi-list">
                    {%for sushi in all_sushi%}
                    <li class="sushi"><a class="sushi-link"
                            href="/sushi/{{sushi.id}}/rate/{{logged_user.id}}">{{sushi.name}}</a>, <a
                            class="restaurant-link"
                            href="/restaurant/{{sushi.restaurant.id}}"><em>{{sushi.restaurant.name}}</em></a></li>
                    {%endfor%}
                </ol>
            </div>

            <div id="all">
                <ol id="all-list">
                    {%for sushi in all_sushi%}
                    <li class="all"><a class="sushi-link"
                            href="/sushi/{{sushi.id}}/rate/{{logged_user.id}}">{{sushi.name}},
                            <em>{{sushi.restaurant.name}}</em></a></li>
                    {%endfor%}
                    {%for restaurant in all_restaurants%}
                    <li class="all"><a class="restaurant-link" href="/restaurant/{{restaurant.id}}">{{restaurant.name}},
                            <em class="text-secondary">{{restaurant.address}}</em></a></li>
                    {%endfor%}
                    <li><a href="/restaurant/new">Add a restaurant</a></li>
                </ol>
            </div>
        </div>
        <div class="d-flex">
            <h2 class="h-nav nav"><a class="a-nav" href="/">HOME</a></h2>
            <!-- <h2>|</h2> -->
            <h2 class="h-nav nav"><a class="a-nav" href="/users/logout">LOGOUT</a></h2>
        </div>
    </div>




    <div class="d-flex" id="buttons">
        <form action="/">
            <button class="btn btn-success">Home</button>
        </form>
        <form action="/users/logout">
            <button class="btn btn-danger">Logout</button>
        </form>
    </div>
    </div>
    <div class="container col-4 box">
        <h1>RESTAURANT</h1>
        {% for message in get_flashed_messages(category_filter=['reg'])%}
        <p>{{message}}</p>
        {%endfor%}
        <form action="/restaurant/{{restaurant.id}}/update" method="post">
            <div class="d-flex flex-column container mb-3">
                <label for="name">NAME</label>
                <input type="text" autcomplete="off" name="name" id="name" value="{{restaurant.name}}">
            </div>
            <div class="d-flex flex-column container mb-3">
                <label for="address">ADDRESS</label>
                <input type="text" autocomplete="off" name="address" id="address" value="{{restaurant.address}}">
            </div>
            <div class="d-flex flex-column container mb-3">
                <label for="phone_number">PHONE NUMBER</label>
                <input type="tel" autocomplete='off' name="phone_number" id="phone_number"
                    value="{{restaurant.phone_number}}">
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>